{# Check if the vip Discount option is marked for the specific vehicle
    If the vehicle discount-options array contains the object VIP Discount 
    => isVIPMarked = true #}
{% set isVipOptionMarked = null %}

{#-- .MODAL-DIALOG --#}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

<div class="modal-dialog">
    
    {#-- MODAL CONTENT --#}
    <div class="modal-content">
<div class="modal-header">
    <h4 class="modal-title">{{ vehicle.getVehicleClass }} - Customize</h4>
</div>

{#-- MODAL-BODY --#}
<div class="modal-body">
    <div id='modalBodyContent'>
        <div class="row contentLeft">
            <div class="col-lg-12">
                
                {# ALERT DIV, THAT NOTIFIES THAT THE SPECIFICATION HAS BEEN EQUIPPED/REMOVED #}
                <div class="alert alert-success" style="display:none"></div>
            </div>
            <div class="col-lg-6">
            <p>Choose a specification that fits your needs:</p>
    
    {#-- CREATE A LIST OF SPECIFICATIONS --#}        
    <form action="#" method="post">
    
    {# specifications = vehicle optionalSpecifications array RETRIEVED FROM DB #}
    {% for spec in specifications %}

        {% set searchedSlug = spec.getSlug %}
        {% if vehicle.getOptionalSpecs[searchedSlug] is defined %}
            
            {# IF THE VEHICLE IS EQUIPPED WITH A SPECIFIC SPECIFICATION, THE CHECKBOX WILL BE CHECKED #}
            <input type="checkbox" id="{{ spec.getSlug }}" value="{{ spec.getSlug }}" checked="checked"
                   onchange="manageVehicleSpecs('{{ spec.getSlug }}')">
            {{ spec.getNameSpec }} - {{ spec.getPrice }}&#8364<br/>
            
            
        {% else %}
            <input type="checkbox" id="{{ spec.getSlug }}" value="{{ spec.getSlug }}" 
                   onchange="manageVehicleSpecs('{{ spec.getSlug }}');">

            {{ spec.getNameSpec }} - {{ spec.getPrice }}&#8364<br/>
        {% endif %}
    {% endfor %}
    {#-- /CREATE A LIST OF SPECIFICATIONS --#}
</form>
    

    {# CHECK, WHETHER THE VEHICLE OBJECT FROM THE SESSION HAS THE VIP DISCOUNT OPTION MARKED #}
    {% for class, options in vehicle.getDiscountOptions %}
        {% if options.getOrder == 0 %} 
            {% set isVipOptionMarked = true %}
            {% else %}
            {% set isVipOptionMarked = false %}    
                {% endif %}
        {% endfor %}
    
        {# IF THE VIP OPTION IS MARKED - THE CHECKBOX WILL BE MARKED AS WELL #}
        {% if isVipOptionMarked == true %}
            <h3>Maybe you have:</h3>
            <input type="checkbox" id="vipDiscount" value="vipDiscount" onchange="manageDiscount();" 
                   checked="checked"/> VIP Discount
            {% else %}
            <h3>Maybe you have:</h3>
            <input type="checkbox" id="vipDiscount" value="vipDiscount" onchange="manageDiscount();"/> VIP Discount
            {% endif %}
            
            
        <h3 class="Price">Price:</h4>
            <h4 class="Price" id="recalculatedPrice">{{vehicle.calculatePrice}}&#8364</h4>    
        </div>
    
        {# HINT INFORMATION DISPLAYED ON THE RIGHT SIDE OF THE MODAL DIALOG #}
    <div class="col-lg-6">
        <div id="modalWindowLogo">
            <p>Hint: <br/> Check all the options you would like to add. Then click 'Save'
                <br>(We will include in the price all the available discount options)
            </p>
        </div>
    </div>
</div>

</div>
</div>
{#<!-- /#MODAL-BODY -->#}
<div class="modal-footer">
    <button type="submit" class="btn btn-success" 
            data-dismiss="modal" 
            onClick="reloadPage();">Save</button>
</div>
</div>
{#-- /.MODAL-CONTENT --#}
</div>
{#-- /.MODAL-DIALOG --#}
</div>
