<div class="modal fade" id="modalPrice" 
     tabindex="-1" role="dialog" aria-labelledby="modalPriceLabel" 
     aria-hidden="true">

<div class="modal-dialog">
    <div class="modal-content">
        
    <div class="modal-header">

            <h2 class="modal-title">{{ vehicle.getVehicleClass }} 
                <small>(initial price:{{ vehicle.getVehiclePrice }}&#8364)</small>
            </h2>
    </div>
    <div class="modal-body">
        <div id='modalBodyContent'>
            <div class="row contentLeft">
                
                {# -- CONTENT -- #}
                
        <div class="col-lg-6">
            <div>
                <h3 id="defaultSpecHeader">Default Specifications</h3>
                <ul>
                    {% for spec in vehicle.getDefaultSpecs %}
                        <li>{{ spec.getNameSpec }} 
                            {% if spec.getQuantity>2 %} - {{ spec.getQuantity }}
                            {% endif %} </li>
                        {% endfor %}
                </ul>
        {# IF THE VEHICLE HAS OPTIONAL SPECIFICATIONS - DISPLAY THEM #}   
        {% if vehicleOptionalSpecs is not empty %}
            <h4>Optional specifications inlcuded</h4>
            <ul>
                {# FOR EACH OPTIONAL SPECIFICATION - INCLUDE IT IN A LIST #}
                {% for spec in vehicleOptionalSpecs %}
                    <li> {{ spec.getNameSpec }} - {{ spec.getPrice }}&#8364 </li>
                {% endfor %}
                
            </ul>
            </div>
        </div>
                
        <div class="col-lg-6">
            <h3>Maybe you have:</h3>
            <input type="checkbox" id="vipDiscount" value="vipDiscount" on change=""> VIP Discount
        </div>
        <div class="col-lg-12">
        <h3>Price <small>(including new specifications)</small></h3>
        <h4 id="recalculatedPrice">{{vehicle.calculatePrice}}&#8364</h4>
        
        {% else %}
            
        <h3>Price <small>(stock)</small></h3>
        <h4 id="recalculatedPrice">{{vehicle.calculatePrice}}&#8364</h4>  
        
        {% endif %}
        </div>
        
    </div>
                {# /-- CONTENT -- #}

    </div>
    </div>
<div class="modal-footer">
<button type="button" class="btn btn-default" 
        data-dismiss="modal" 
        onclick="reloadPage();">Close</button>
</div>
</div>
<!-- /.MODAL-CONTENT -->
</div>
<!-- /.MODAL-DIALOG -->
</div>
