{% extends 'MercedesVStoreBundle::base.html.twig' %}
{% set vehicle = app.session.get('automobileSession') %}
{% set vehicleOptionalSpecs = vehicle.getOptionalSpecs %}

{# -- TITLE -- #}

{% block title %}{{ parent() }} - {{ vehicle.getVehicleClass }} {% endblock %}

{# -- /TITLE -- #}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" 
          href="{{ asset('bundles/mercedesvstore/css/cars.css') }}"/>
    <link rel="stylesheet" type="text/css" 
          href="{{ asset('bundles/mercedesvstore/css/homepage.css') }}"/>
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{# -- PAGE CONTENT -- #}

{% block content %}
{{ parent() }}

    {# -- #CLASSPICTURE -- #}

    <div id="classPicture" 
         style="background-image: url({{ asset('bundles/mercedesvstore/img/full-size/Cars/'~vehicle.getVehicleClass~'.jpg') }}); 
         ">
        <div class="row">
            
            <div class="col-lg-6">
                <h1 id="classTitle">The new {{ vehicle.getVehicleClass }}</h1>
                <p id="classPrice">Starting at: {{ vehicle.getVehiclePrice }}&#8364</p>
                <a data-toggle="modal" data-target="#myModal" 
                   id="templateButton" class="btn btn-default 
                   customizeButton" href="#">Customize</a>
            </div>
            {# ENSURE THE DIV IS DIVIDED IN 2 COLUMNS #}
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>

    {# --/ #CLASSPICTURE -- #}

    <div class="row">
        <p><strong>Description</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis sapien, volutpat in tortor ac, rhoncus ornare sapien. Nunc semper, sapien sit amet venenatis imperdiet, nibh libero pretium dui, non lobortis sem nibh a nisi. Morbi eu ultrices diam. Donec nisl quam, pretium id egestas in, congue ac nulla. Donec tempor ligula nec tortor eleifend, eu consectetur massa faucibus. Nulla luctus faucibus semper. Aliquam erat volutpat. Donec congue nunc sed enim suscipit pulvinar. Morbi nec egestas ipsum, ut pellentesque enim.</p>
    </div>

    <div class="row contentLeft">
        <div class="col-lg-6">
            <h3 id="defaultSpecHeader">Default Specifications</h3>
            <ul>
                {% for spec in vehicle.getDefaultSpecs %}
                    <li>{{ spec.getNameSpec }} 
                        {% if spec.getQuantity>2 %} - {{ spec.getQuantity }}
                        {% endif %} </li>
                    {% endfor %}
            </ul>
            <h3>Price</h3>
            <h4>{{vehicle.getVehiclePrice}}&#8364</h4>

        </div>
        <div class="col-lg-6">
            <h3 id="defaultSpecHeader">Give this car a touch of your personality</h3>
            <a data-toggle="modal" data-target="#myModal" id="templateButton" class="btn btn-default customizeSpecButton">Customize</a>

            {% if vehicleOptionalSpecs is empty %}
                <p class="adnotation">You haven't added any options yet</p>
            {% else %}
                <p class="adnotation" 
                   style="visibility: hidden">You haven't added any options yet</p>
            {% endif %}

            <a data-toggle="modal" data-target="#modalPrice" 
               id="templateButton" class="btn btn-default customizeSpecButton" 
               onclick="">Information</a>
            
        </div>

        <!-- MODAL WINDOW - DISPLAYS THE AVAILABLE  OPTIONAL SPECIFICATIONS -->
        {% include 'MercedesVStoreBundle:Modal:addSpecification.html.twig' %}
        <!-- /.MODAL -->

        <!-- MODAL THAT DISPLAYS THE CALCULATED PRICE -->
        {% include 'MercedesVStoreBundle:Modal:calculatePrice.html.twig' %}
        <!-- /.MODAL -->

    </div>
{% endblock %}
{#/-- PAGE CONTENT -- #}

{% block javascripts %}
    {{parent()}}
    <script src='/bundles/mercedesvstore/js/bootstrap.min.js'></script>
{% endblock %}