{% extends 'MercedesVStoreBundle::base.html.twig' %}
{% set vehicle = app.session.get('automobileSession') %}

{# -- TITLE -- #}

{% block title %}{{ parent() }} - {{ vehicle.getVehicleClass }} {% endblock %}

{# -- /TITLE -- #}
{# -- STYLESHEETS -- #}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" 
          href="{{ asset('bundles/mercedesvstore/css/cars.css') }}"/>
    <link rel="stylesheet" type="text/css" 
          href="{{ asset('bundles/mercedesvstore/css/homepage.css') }}"/>
{% endblock %}

{# /-- STYLESHEETS -- #}


{# -- PAGE CONTENT -- #}
{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
{{ parent() }}

    {# -- #CLASSPICTURE -- #}
    
    <div id="classPicture" 
         style="background-image: url({{ asset('bundles/mercedesvstore/img/full-size/Cars/'
                                                            ~vehicle.getVehicleClass~'.jpg') }}); 
         ">
        <div class="row">

            <div class="col-lg-6">
                <h1 id="classTitle">The new {{ vehicle.getVehicleClass }}</h1>
                <p id="classPrice">Starting at: {{ vehicle.getVehiclePrice }}&#8364</p>
                <a data-toggle="modal" data-target="#myModal" 
                   id="templateButton" class="btn btn-default 
                   customizeButton" href="#">Customize</a>
            </div>
                
            {# ENSURE THE DIV IS DIVIDED IN 2 COLUMNS #}
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>

    {# --/ #CLASSPICTURE -- #}
    
    {# -- CLASS DESCRIPTION -- #}
    
    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et ex turpis. Curabitur facilisis ligula ut nisl volutpat blandit. Cras malesuada efficitur nibh eget accumsan. Praesent sed nisi felis. Donec auctor hendrerit turpis non convallis. Aenean eleifend tincidunt ligula, vel rhoncus risus vulputate faucibus. Maecenas libero enim, elementum a risus ut, mattis placerat velit. Donec id porttitor nisi. Sed eros mauris, euismod quis sodales id, facilisis ac sapien. Donec eget suscipit dui. Mauris porttitor ex sit amet luctus vulputate. Etiam a nulla molestie, blandit ligula scelerisque, aliquam augue. Suspendisse potenti. Curabitur in consectetur sem, nec ullamcorper massa.</p>
    </div>
    
    {# /-- CLASS DESCRIPTION -- #}
    
    <div class="row contentLeft">

        {# -- CLASS SPECIFICATIONS #}
        
        <div class="col-lg-6">
            <h3 id="defaultSpecHeader">Default Specifications</h3>
            <ul>
                {% for spec in vehicle.getDefaultSpecs %}
                    <li>{{ spec.getNameSpec }} 
                        {% if spec.getQuantity>2 %} - {{ spec.getQuantity }}
                        {% endif %} </li>
                    {% endfor %}
            </ul>
            <br/>
        </div>
        
        {# /-- CLASS SPECIFICATIONS #}

          
        {# -- CLASS CUSTOMIZER -- #}
        
        <div class="col-lg-6">
            <h3 id="defaultSpecHeader">Give this car a touch of your personality</h3>
            <a data-toggle="modal" data-target="#myModal" id="templateButton" class="btn btn-default customizeSpecButton">Customize</a>

            {% if vehicle.getOptionalSpecs is empty %}
                <p class="adnotation">You haven't added any options yet</p>
            {% else %}
                <p class="adnotation" 
                   style="visibility: hidden">You haven't added any options yet</p>
            {% endif %}
            
        {# /-- CLASS CUSTOMIZER -- #}

        </div>

        {#-- MODAL WINDOW - DISPLAYS THE AVAILABLE  OPTIONAL SPECIFICATIONS #}
        {% include 'MercedesVStoreBundle:Modal:addSpecification.html.twig' %}
        {#-- /.MODAL #}

    </div>
{% endblock %}
{#/-- PAGE CONTENT -- #}

{% block javascripts %}
    {{parent()}}
    <script src='/bundles/mercedesvstore/js/bootstrap.min.js'></script>
{% endblock %}