{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Discount {% endblock %}
{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <h1> We care about our customers </h1>
    <p>That's why we have some great discount options to offer</p>
    {% for discount in options %}
        {{ discount.getDiscountType }} - {{ discount.getDiscountValue }}
        {% endfor %}
{% endblock %}
