{% extends 'MercedesVStoreBundle::base.html.twig' %}

{% block title %}{{ parent() }} - Specifications {% endblock %}
{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <h1>Add personality to your exclusive style</h1>
    <p>Pick the specification that fits your needs to ensure .</p>
    <div class="row contentLeft">
            <ul>
                {% for spec in specification %}
                    <li>{{ spec.nameSpec }} - {{ spec.price }}&#8364</li>
                {% endfor %}
            </ul>
    </div>

{% endblock %}
